@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');


:root{
    --color-button: #B20303;
}
*{
    font-family: 'DM Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
ul{
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
li{
    display: flex;
    align-content: center;
    padding: 20px;
}
.button{
    height: 100%;
    padding: 6px 32px;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
}
swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 8/16;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
a{
    color: #fff;
}
a:hover{
    color: #fff;
    text-decoration: none;
}
.button:hover{
    background-color: #B20303;
    color: #fff;
    border: 1px solid var(--color-button);
}

