@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');


@media (min-width: 1200px){
    .container{
        max-width: 1300px;
    }
    .col-xl-6{
        padding-left: 0;
        padding-right: 0;
    }
    .col-cs-2{
        width: calc(75%/4);
    }
    .col-cs-3{
        width: 25%;
    }
}

.footer{
    color: #fff;
    padding: 50px 0;
    background-color: #161616;
}

.footer__social{
    display: flex;
}
.footer__logo{
    margin-top: 40px;
}
.footer__logo i{
    display: block;
    font-size: 28px;
    margin-right: 5px;
    margin-top: 5px;
    color: #fff;
}
.title{
    font-size: 24px;
    font-weight: 800;
}
.footer__list{
    margin-top: 30px;
    max-width: 300px;
}
.footer__list li{
    padding: 10px;
    cursor: pointer;
}
.footer__subscribe{
    margin-top: 20px;
}
.footer__subscribe__title{
    font-size: 28px;
    font-family: 'Anton', sans-serif;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 18px;
}
.footer__input{
    width: 80%;
    justify-content: flex-end;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    height: 47px;
    padding: 12px;
    border-radius: 15px;
}
.footer__form{
    position: relative;
    display: flex;
}
.footer__form__submit{
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    width: 150px;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid #fff;
}
.footer__form__submit p{
    display: block;
    color: black;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-top: 8px;
    
}