
html{
    scroll-behavior: smooth;
}


/* header */
.header {
    display: flex;
    position: relative;
    z-index: 999;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100px;
}

.header:hover {
    background-color: #B20303;
}

.header:hover .header__linear {
    background-image: none;
}

.header__linear {
    position: absolute;
    width: 100%;
    height: 60%;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(80, 0, 0, 1), transparent);
}

.header__right {
    z-index: 999;
    width: 50%;
    display: flex;
}

.header__left {
    width: 50%;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
}

.header__logo {
    margin-left: 10vh;

}

.header__logo img {
    width: 80px;
    margin-top: 8px;
}

.header__list {
    color: #fff;
    display: flex;
    align-content: center;
}

.header .header__about,
.header .header__products,
.header .header__sign-in-true {
    position: relative;
    transition: all 1s;
}

.header__about:hover .header__about__down,
.header__products:hover .header__products__down,
.header__sign-in-true:hover .header__sign-in-true__down {
    display: block;
}

.header__about:hover i:nth-child(2),
.header__products:hover i:nth-child(2),
.header__sign-in-true:hover i:nth-child(2) {
    transform: rotate(180deg);
}

.header__news p,
.header__products p,
.header__about p,
.header__sign-in-true p {
    margin: auto auto;
    cursor: pointer;
}

.header__news i,
.header__products i,
.header__about i,
.header__sign-in-true i {
    margin: auto 10px;
    cursor: pointer;
}

.header__about__down,
.header__products__down,
.header__sign-in-true__down {
    display: none;
    position: absolute;
    top: 65px;
    left: 15px;
    width: 180px;
    background-color: #1A1819;
}

.header__about__down li,
.header__products__down li,
.header__sign-in-true__down li {
    padding: 10px;
    cursor: pointer;
}

.header__about__down li:hover,
.header__products__down li:hover,
.header__sign-in-true__down li:hover {
    background-color: #515151;
}

.header__about__down li a,
.header__products__down li a,
.header__sign-in-true__down li a {
    font-size: 16px;
    font-weight: 800px;
}

.header__search {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.header__input {
    outline: none;
    color: #fff;
    height: 35px;
    margin: auto 0;
    padding: 6px 28px;
    border: 1px solid #fff;
    border-radius: 12px;
    transition: all 0.5s;
    background-color: transparent;
}

.header__input:hover {
    padding: 6px 48px;
}

.header__search i {
    color: #fff;
    position: absolute;
    top: 42px;
    right: 15px;
    cursor: pointer;
}

.header__sign-in {
    display: flex;
    align-content: center;
}

.header__sign-in-false {
    margin: auto 0;
    margin-right: 50px;
    margin-left: 30px;
    padding: 6px 32px;
    border: 1px solid #fff;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
}
.header__sign-in-true {
    margin: auto 0;
    margin-right: 50px;
    margin-left: 30px;
    padding: 6px 32px;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
}

.header__sign-in-true p {
    display: inline;
}

.header__sign-in-true__down {
    top: 35px;
    left: 30px;
}

/* End header */
