@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
* {
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul{
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
li{
    display: flex;
    align-content: center;
    padding: 20px;
}
a{
    color: #fff;
}
a:hover{
    color: #fff;
    text-decoration: none;
}

.bnews{
    position: relative;
    background-color: black;
    color: #fff;
}
.bg{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 0;
    padding-bottom: 25%;
    background-image: url(/dut-studio-main/assets/images/bg10.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 0;
    background-size: cover;
}
.bnews_summary{
    text-align: center;
    padding-top: 30vh;
    cursor: pointer;
}
.bnews_img{
    position: relative;
}
.bnews_img img{
    width: 1300px;
    height: 730px;
}
.bnews_summary:hover .bnews_img img{
    filter: brightness(70%);
}
.bnews_content{
    text-align: left;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
}
.bnews_time{
    font-size: 25px;
    font-family: 'DM Sans',sans-serif;
    margin-bottom: 10px;
}
.bnews_title{
    font-size: 35px;
    font-family: 'Anton',sans-serif;
    margin-bottom: 12px;
}
.bnews_summary:hover .bnews_title{
    text-decoration: underline;
}
.bnews_desc{
    font-size: 25px;
    font-family: 'DM Sans',sans-serif;
}
ul.snews{
    list-style: none;
    padding-top: 50px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}
.snews li{
    flex-basis: 50%;
    padding-left: 85px;
    padding-right: 85px;
    padding-bottom: 25px;
    cursor: pointer;
}
ul.snews li:hover img{
    filter: brightness(70%);
}
.snews li img{
    width: 560px;
    height: 330px;
}
.snews_time{
    padding: 15px 0px;
    font-size: 12px;
    font-family: 'DM Sans', sans-serif;
}
.snews_title{
    padding: 3px 0px;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}
ul.snews li:hover .snews_title{
    text-decoration: underline;
}
.snews_desc{
    padding: 3px 0px;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
}
.loadmore{
    padding-top: 60px;
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.load{
    height: 45px;
    background-color: #b20303;
    border-radius: 30px;
    padding: 8px 46px;
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}



.header__news a{
    padding: 18px;
}